{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Annye Braca</h1>
    <p class="lead">B.Sc. in System Engineering, MSc in Data Analytics with academic and commercial experience in Data extraction, Business Intelligence, process automatization, Machine Learning, advanced statistical techniques, image processing, Networking knowledge, automation tests in Python/ Selenium, comfortable with Linux environment, experience in Agile/Scrum.</p>
    <p><a href="https://www.linkedin.com/in/annye-braca/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Github</h2>
        <p>
            Please feel free to view some of my Python projects and analysis at my GitHub .
        </p>
        <p><a class="btn btn-default" href="https://github.com/annye">Learn more &raquo;</a></p>
    </div>
  

{% endblock %}
